<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
</head>
<body>
    <ul>
        <li><a href="/beranda">Back</a></li>
    </ul>
    
    <center>
        <h1>JADWAL PELAJARAN</h1>
    </center>
  
    <center>
        <table border="1">
            
            <thead>
                <tr  style=" background-color:yellow;">
                    <th >HARI</th>
                    <th >PELAJARAN</th>
                    <th >GURU</th>
                    
                </tr>
            </thead>
            <body >
                
                <tr>
                    <td ><center>SENIN</center></td>
                    <td ><center>MTK</center></td>
                    <td >PAK. FATHORROSI</td>
                    
                </tr>
                <tr>
                    <td>SELASA</td>
                    <td ><center>FILSAFAT</center></td>
                    <td ><center>PAK. IBNU ALI</center></td>
                    
                </tr>
                <tr>
                    <td><center>RABU</center></td>
                    <td ><center>PBO</center></td>
                    <td ><center>PAK. AGUNG</center></td>
                    
                </tr>
                <tr>
                    <td><center>KAMIS</center></td>
                    <td ><center>ARSITEKTUR</center></td>
                    <td ><center>PAK. BADRI</center></td>
                    
                </tr>
                <tr>
                    <td><center>JUM'AT</center></td>
                    <td ><center>PAI</center></td>
                    <td >PAK. ALI THOHIR</td>
                    
                </tr>
                <tr>
                    <td><center>SABTU</center></td>
                    <td ><center>BHS. INDONESIA</center></td>
                    <td ><center>BU. FARAH</center></td>
                    
                </tr>
            </body>
        
        </table>
            </center>
</body>
</html>